:root {
    --row_animation_speed: 7s;
}
img {
    image-rendering: pixelated;
}
body > div:first-child {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}
body > div:first-child > div {
    display: flex;
    flex-direction: row-reverse;
    animation: row_down var(--row_animation_speed) linear infinite;
}

@keyframes row_down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}